body {
  padding-top: 3em;
}

.main {
  padding-bottom: 7em;
}

.hidden {
  display: none !important;
}

.ui.basic.button {
  position: relative;
  margin-right: 1.25em;
  margin-bottom: 1em;
}

.ui.basic.button .label .icon {
  margin: 0;
}
