.tools-button-container {
  width: 185px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.tools-button-container .label {
  display: block;
  text-align: center;
  font-size: 18px;
}

.tools-button-container .text {
  display: block;
  text-align: center;
  font-size: 14px;
  min-height: 25px;
}

@media only screen and (max-width: 430px) {
  .tools-button-container {
    width: 160px;
  }

  .tools-button-container .label {
    font-size: 15px;
  }
  .tools-button-container .text {
    font-size: 12px;
  }
}

.tools-button {
  display: block;
  background: none;
  border: 12px solid #eee;
  outline: none;
  text-align: center;
  border-radius: 16px;
  padding: 28px 36px 20px 36px;
  user-select: none;
}
.tools-button:hover {
  color: #333;
}
.tools-button:active {
  color: #666;
}
.tools-button .text {
  display: block;
  margin-top: 10px;
}
