body {
  padding-top: 3em;
}

.main {
  padding-bottom: 7.4em;
}

.hidden {
  display: none !important;
}

.ui.basic.button {
  position: relative;
  margin-right: 1.25em;
  margin-bottom: 1em;
}

.ui.basic.button .label .icon {
  margin: 0;
}

@media only screen and (max-width: 767.98px) {
  .ui.stacked-when-needed.menu {
    display: inline-block;
    width: 100%;
  }
  .ui.stacked-when-needed.menu .item {
    display: inline-flex;
  }

  .ui.stacked-when-needed.menu .item:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(34, 36, 38, 0.1);
  }

  .ui.stacked-when-needed.menu ~ .ui.tab .ui.basic.button {
    padding: 0.7em 1.4em 0.7em;
  }

  .ui.stacked-when-needed.menu
    ~ .ui.tab
    .ui.basic.button
    em[data-emoji].medium {
    font-size: 2.2em;
  }
}

[data-tooltip]:hover:after {
  min-width: 100%;
  width: calc(100% + 15px);
  text-align: center;

  white-space: normal;

  word-wrap: break-word;
  overflow-wrap: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.container {
  position: relative;
}

.audio.popup {
  height: 200px;
}

.audio.item {
  min-width: auto !important;
}
